﻿
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/google-font/OpenSans-Light.woff) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(fonts/google-font/OpenSans-Regular.woff) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/google-font/OpenSans-Semibold.woff) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/google-font/OpenSans-Bold.woff) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/google-font/OpenSans-Italic.woff) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(fonts/google-font/OpenSans-Semibold.woff) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(fonts/google-font/OpenSans-Semibold.woff) format('woff2');
}

html, * {
    margin: 0;
}

/*@font-face {
	font-family: 'gothic';
	src: url('../Fonts/gothic.eot');
	src: local('../Fonts/gothic'), url('../Fonts/gothic.woff') format('woff'), url('../Fonts/gothic.ttf') format('truetype');
}*/


body {
    margin: 0;
    /*font-family: Arial;*/
    background: #f2f2f2;
    font-size: 13px !important;
    color: #000;
    font-family: 'Open Sans' !important;
    line-height: 1.428571429;
}


a:link, a:visited {
    color: #116fb7;
}

a:hover {
    color: #258cdb;
    text-decoration: none;
}

a:active {
    color: #116fb7;
}

.no_border {
    border: none !important;
}

.no_backgrnd {
    background: none !important;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans' !important;
}

.cleaner {
    clear: both;
    display: block;
}

.topdiv {
    height: 10px;
    background: #363636;
    display: block;
    width: 100%;
}

.theme_div {
    width: 178px;
    height: 42px;
    float: right;
    padding: 15px 0 0 0;
    margin: 20px 0 0 0; /* background:url(../../Images/theme_base.png) no-repeat center center; */
}

    .theme_div span {
        float: right;
        display: block;
        height: 27px;
        width: 30px;
        background: #dedede;
    }

.increase_font {
    width: 18px !important;
    height: 19px;
    background: transparent url(../../Images/plus_font_b.png) no-repeat center !important;
    border: none !important;
    margin: 5px 0 0 20px !important;
    padding: 0 !important;
    cursor: pointer;
}

.decrease_font {
    width: 18px !important;
    height: 19px;
    background: transparent url(../../Images/minus_font_b.png) no-repeat center !important;
    border: none !important;
    padding: 0 !important;
    cursor: pointer;
}

.normal_font {
    width: 18px !important;
    height: 19px;
    background: transparent url(../../Images/normal-font_b.png) no-repeat center !important;
    border: none !important;
    padding: 0 !important;
    margin: 5px 0 0 0;
    cursor: pointer;
}

.red_theme {
    width: 16px !important;
    height: 15px;
    background: transparent url(../../Images/red.png) no-repeat center !important;
    border: none !important;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}

.green_theme {
    width: 16px !important;
    height: 15px;
    background: transparent url(../../Images/green.png) no-repeat center !important;
    border: none !important;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}

.blue_theme {
    width: 16px !important;
    height: 15px;
    background: transparent url(../../Images/blue.png) no-repeat center !important;
    border: none !important;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 0 0 12px !important;
}

.top_banner {
    height: 105px;
    width: 100%;
    background: #ffffff;
}

.in_banner {
    width: 99%;
    margin: 0 auto;
    height: 105px;
}

.banner_text {
    width: 400px;
    float: left;
    margin: 12px 0 0 0px;
}

    .banner_text h1 {
        font-weight: bold;
        /* text-transform: capitalize; */
        font-size: 22px;
        color: #000;
        margin: 0;
        padding: 4px 0 7px 0;
        font-family: 'Open Sans' !important;
    }

    .banner_text h3 {
        font-weight: 600;
        font-size: 18px;
        color: #545454;
        margin: 0;
        padding: 2px 0 5px 0;
        font-family: 'Open Sans' !important;
    }

    .banner_text h2 {
        font-size: 13pt;
        color: #e3f6ff;
        margin: 0;
        padding: 0px 0;
        font-weight: normal;
        text-shadow: 1px 1px 1px #585858;
    }

.logo_top {
    float: left;
    margin: 12px 11px 0 14px;
}

.logonewright {
    /*width: 105px;
    height: 90px;*/
    float: right;
    margin: 12px 20px 0 0px;
}

.bfont {
    font-weight: bold;
}

/* ----------------------------------------menu ------------------------------ */
#menu {
    width: 100%;
    height: 42px;
    background: #520000;
}

#menu_in {
    width: 99%;
    margin: 0 auto;
    height: 42px;
}

    #menu_in > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #menu_in > ul > li {
            float: left;
            font-size: 14px;
            font-weight: normal;
        }

            #menu_in > ul > li > a {
                display: block;
                color: #fff;
                padding: 11px 25px 11px 25px;
                /*border-right: solid 1px #8b0808;*/
                text-decoration: none;
                position: relative;
                z-index: 99;
            }

                #menu_in > ul > li > a:hover {
                    background: #8a0000;
                    color: #fff;
                }

    #menu_in select {
        display: none;
    }
/* ----------------------------------------end menu ------------------------------ */

.home_icon {
    width: 39px;
    background: url(../../Images/home_icon.png) no-repeat center center;
    text-indent: -1000px;
    border: none !important;
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: -1px;
    height: 35px;
    display: block;
}

.home_icon1 {
    background: none !important;
    height: 34px;
    padding: 0 !important;
    width: 39px;
}

#container {
    width: 95%;
    margin: 10px auto 10px auto;
    padding: 3px 0 5px 0;
    background: #fff;
}

.left_col_link {
    width: 260px;
    padding: 0 0 10px 0;
    background: #fff;
    margin: 0 0 15px 0;
    border-color: #b6cfe8;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-radius: 4px;
}

.left_col {
    width: 260px;
    float: left;
}


.box {
    width: 98%;
    margin: 0 auto;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    padding: 0 0 10px 0;
}

    .box h2 {
        height: 32px;
        line-height: 32px;
        font-family: 'gothic';
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 5px 5px 0 0;
        background: #6d6d6d;
        margin: 0 0 20px 0;
        padding: 0 0 0 15px;
    }

.padding td {
    padding: 2px;
}

.left_col_link ul {
    list-style-type: none;
    padding: 3px 0 0 0;
    margin: 0;
}

.left_col_link li {
    display: block;
    margin: 5px 3px;
    border-radius: 4px;
    background: #fafafa;
    line-height: 18px;
    font-family: arial;
    padding-left: 20px;
    border: solid 1px #e4e4e4;
    background: url(../../Images/arrow_left_link.png) 8px 11px no-repeat;
    font-size: 12px;
    text-transform: uppercase;
}

    .left_col_link li a {
        display: block;
        padding: 6px 5px 6px 0;
        text-decoration: none;
        color: #363636;
        font-weight: bold;
    }

        .left_col_link li a:hover {
            color: #fff;
        }

    .left_col_link li:hover {
        background: #286bbd url(../../Images/arrow_left_link.png) 8px 11px no-repeat;
    }

    .left_col_link li a::first-letter {
        color: #286bbd;
        font-weight: bold;
        font-size: 15px;
    }

    .left_col_link li a:hover::first-letter {
        color: #fff;
    }

.tab {
    width: 100%;
    height: 40px;
    background: #179fcf url(../../Images/arrow_link.png) 93% 50% no-repeat;
    border-radius: 4px 4px 0 0;
}

    .tab h2 {
        margin: 0;
        padding: 12px 0 5px 15px;
        font-size: 16px;
        text-align: left;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        font-family: gothic;
    }




.right_col {
    width: 740px;
    float: left;
    margin: 0 0 0 20px;
}

.right_col_link {
    width: 230px;
    float: right;
}

.apply_btn {
    width: 230px;
    height: 100px;
    background: url(../../Images/apply-jsaa.png) no-repeat left top;
    border-radius: 4px;
}

    .apply_btn a {
        display: block;
        color: #e1f9ff;
        line-height: 25px;
        padding: 25px 15px 0 100px;
        text-decoration: none;
        font-family: 'gothic';
        font-size: 18px;
    }

        .apply_btn a:hover {
            color: #363636;
        }

.right_link_btn {
    width: 100%;
    height: 40px;
    background: url(../../Images/btn_bg.png) left center no-repeat;
    margin: 5px 0;
    border-radius: 8px;
}

    .right_link_btn a {
        display: block;
        text-decoration: none;
        line-height: 40px;
        color: #fff;
        padding: 0 0 0 45px;
        font-family: arial;
        font-size: 13px;
        font-weight: bold;
    }

        .right_link_btn a:hover {
            color: #363636;
        }

.right_link_btn2 {
    width: 100%;
    min-height: 45px;
    background-color: #19b8ff;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px #13aaed solid;
}

    .right_link_btn2 a {
        display: block;
        text-decoration: none;
        line-height: 15px;
        color: #fff;
        padding: 8px 0 0 15px;
        font-family: arial;
        font-size: 13px;
        font-weight: bold;
    }

        .right_link_btn2 a:hover {
            color: #363636;
        }


.contact_table {
    width: 100%;
    background: #fff;
    margin: 10px 0 0 0;
    border-radius: 5px;
}

    .contact_table h2 {
        border-radius: 5px 5px 0 0;
        margin: 0;
        color: #fff;
        padding: 0 0 0 15px;
        font-size: 13px;
        font-weight: bold;
        font-family: arial;
        line-height: 35px;
        height: 35px;
        background: #585858 url(../../Images/contact_icon.png) 93% 50% no-repeat;
    }

    .contact_table p {
        padding: 10px 4px;
        margin: 0;
        line-height: 18px;
    }

        .contact_table p span {
            font-weight: bold;
        }

.btn_type1 {
    width: 100%;
    height: 40px;
    background: url(../../Images/btn_bg.png) left center no-repeat;
    margin: 5px 0;
    border-radius: 1px;
    line-height: 35px;
}

    .btn_type1 a {
        display: block;
        text-decoration: none;
        line-height: 40px;
        color: #fff;
        font-weight: bold; /* background:url(../../Images/arrow_link_btn.png) no-repeat 97% 50%;*/
        padding: 0 0 0 45px;
        font-size: 13px;
        text-transform: uppercase;
        font-family: 'arial';
    }

        .btn_type1 a:hover {
            color: #363636;
        }






.download_icon {
    background-image: url(../../Images/download_icon.png);
    background-position: 93% 50%;
    background-repeat: no-repeat;
}

.schudule_icon {
    background-image: url(../../Images/schudule_icon.png);
    background-position: 93% 50%;
    background-repeat: no-repeat;
}

.inst_icon {
    background-image: url(../../Images/inst_icon.png);
    background-position: 93% 50%;
    background-repeat: no-repeat;
}

.contact_icon {
    background-image: url(../../Images/contact_icon.png);
    background-position: 93% 50%;
    background-repeat: no-repeat;
}

.slider {
    width: 740px;
    height: 255px;
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    font-family: gothic;
}





.r-tabs {
    width: 490px;
    float: left;
    background-color: #ffa820;
    border-top: 1px solid #ffa820;
    border-right: 1px solid #ffa820;
    border-left: 1px solid #ffa820;
    border-bottom: 4px solid #ffa820;
    border-radius: 4px;
}

#tab-1 p, #tab-2 p, #tab-3 p {
    font-size: 12px;
    line-height: 18px;
    color: #363636;
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    background-color: #ffa820;
}
/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
    display: inline-block;
    padding: 10px 12px;
    text-decoration: none; /* text-shadow: 0 1px rgba(0, 0, 0, 0.4); */
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-family: gothic;
}
/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
}
/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    color: #ffa820;
    text-shadow: none;
    background-color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
/* Tab panel */
.r-tabs .r-tabs-panel {
    background-color: white;
    border-bottom: 4px solid white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    display: block;
    padding: 10px;
    background-color: #00c5ad;
    color: #fff;
    font-weight: bold;
    text-decoration: none; /*	text-shadow: 0 1px rgba(0, 0, 0, 0.4); */
    font-size: 14px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #fff;
    color: #00c5ad;
    text-shadow: none;
}
/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
}

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
    min-height: 150px;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}
/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}


.newsEvent div.innerNews {
    padding: 10px;
}

.innerNews ul {
    height: 130px;
    padding: 7px;
    margin: 0;
}

.newsEvent ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: Arial;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
    padding: 5px 0;
}

.ticker {
    overflow: auto;
    position: relative;
    margin: 0;
    padding: 10px;
}

    .ticker li {
        display: block;
    }

        .ticker li p {
            border-bottom: 1px solid #d3d3d3;
            color: #424242;
            padding: 10px 0 10px 30px;
            background: url(../../Images/bulled_n.png) no-repeat 5px 12px;
        }

#footer {
    background: none repeat scroll 0 0 #4e4e4e;
    margin-bottom: 10px;
    padding: 0;
}

    #footer p {
        color: #f5f5f5;
        font-family: Verdana;
        font-size: 12px;
        margin: 0 auto;
        padding: 13px 0;
        text-align: center;
        width: 1024px;
    }

        #footer p a {
            color: #fff;
            float: right;
            text-decoration: none;
        }


/* ---------------------------------------- input text box ------------------------------ */
input[type="email"], input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="select"],
textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none #FFFFFF;
    border: 1px solid #c4c4c4;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    height: 30px;
    margin: 0;
    padding: 0 4px;
    width: 180px;
    color: #2E2E2E;
    *padding: 4px 8px;
    *height: auto;
}

    input[type="email"]:hover,
    input[type="number"]:hover,
    input[type="password"]:hover,
    select:hover,
    input[type="tel"]:hover,
    input[type="text"]:hover,
    input[type="url"]:hover,
    select:hover,
    input[type="textarea"]:hover {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #A0A0A0 #B9B9B9 #B9B9B9;
        border-image: none;
        border-right: 1px solid #B9B9B9;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        color: #2E2E2E;
    }

    input[type="email"]:focus,
    input[type="number"]:focus,
    input[type="password"]:focus,
    input[type="tel"]:focus,
    input[type="text"]:focus,
    textarea:focus,
    input[type="url"]:focus,
    input[type="textarea"]:focus {
        border: 1px solid #4D90FE;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
        outline: medium none;
        font-weight: bold;
        color: #2E2E2E;
    }

select:focus {
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
    color: #2E2E2E;
}

select {
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin: 0;
    padding: 3px;
    font-size: 12px;
    color: #2E2E2E;
    height: 23px;
}

input[type="submit"], input[type="button"], .btnurl {
    background: #4FA0F2;
    /*background: url("../../Images/btn_img.gif") repeat-x scroll 0 0 #4FA0F2;*/
    border: 0 none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    overflow: visible;
    padding: 5px 17px;
    text-align: center;
    text-transform: uppercase;
}

.aDownloadLetter {
    background: #CC0000;
    border: medium none;
    color: #fff !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    overflow: visible;
    padding: 5px 20px;
    text-align: center;
    border: solid 1px #ccc;
    text-decoration: none;
    border-radius: 5px;
}

    .aDownloadLetter:hover {
        color: #363636 !important;
    }

fieldset {
    border: none;
    border: solid 1px #e3e3e3;
    margin: 0 auto 10px auto;
    width: 98%;
    padding: 15px 0 0 0;
}

legend {
    background: #f04c07;
    color: #fff;
    padding: 6px 18px 6px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}

strong {
    font-weight: 600;
}

.border_table {
    border-top: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
    margin: 0 auto;
}

    .border_table td {
        border-left: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        padding: 5px 5px;
    }
/****.border_table th { background:#f5f5f5 url('../CSS/Images/in_hdr.jpg') repeat-x 50% bottom; */
border-left:solid 1px #e8e8e8; color:#424242 !important; border-bottom:solid 1px #e8e8e8; padding:2px; height:27px; font-weight:bold; font-size:13px; vertical-align:middle;
}
/*.border_table table tr:hover { background-color:#fffacd;} */


.border_table_at {
    border-top: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
    margin: 0 auto;
}

    .border_table_at > tbody > tr > td {
        border: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        padding: 2px 6px;
        font-size: 12px;
    }

    .border_table_at > tbody > tr > th {
        background: #e0f3ff url('../CSS/Images/in_hdr.jpg') repeat-x 50% bottom;
        border-left: solid 1px #e8e8e8;
        color: #0d77b9 !important;
        border: solid 1px #e8e8e8;
        padding: 2px;
        font-weight: bold;
        font-size: 13px;
        vertical-align: middle;
    }


.border_table12 {
    border-top: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
    margin: 0 auto;
}

    .border_table12 td {
        border-left: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        padding: 6px 4px;
    }
/*.border_table12 th { background:#f5f5f5 url('../CSS/Images/in_hdr.jpg') repeat-x 50% bottom; */
border-left:solid 1px #e8e8e8; color:#424242 !important; border-bottom:solid 1px #e8e8e8; padding:2px; height:27px; font-weight:bold; font-size:13px; vertical-align:middle;
}

.border_table12 table tr:hover {
    background-color: #fffacd;
}

.border_table12 td p {
    line-height: 18px;
}

.border_table12 th a {
    text-decoration: none;
    color: #000;
}


.border_table147 {
    margin: 0 auto;
}

    .border_table147 > tbody > tr > td {
        padding: 6px 4px;
        font-size: 14px;
    }
/****.border_table147 > tbody > tr > th { background:#f5f5f5 url('../CSS/Images/in_hdr.jpg') repeat-x 50% bottom; */
border-left:solid 1px #e8e8e8; color:#424242 !important; border-bottom:solid 1px #e8e8e8; padding:2px; height:27px; font-weight:bold; font-size:13px; vertical-align:middle;
}

.border_table147 td [type="radio"] {
    margin: 2px 5px 0 2px;
}

.border_table147 td > label {
    margin: 2px 5px 0 2px;
    position: relative;
    top: -3px;
}


.list_item {
    list-style-type: decimal;
    margin: 10px 0 10px 30px;
}

    .list_item li {
        line-height: 18px;
    }

.check_box {
    min-height: 220px;
    padding: 0;
    background: #f5f5f5;
}


    .check_box table {
        width: 100%;
        background: #fff;
        margin: 0;
        padding: 0;
        border-spacing: 0;
        border-collapse: collapse;
    }

        .check_box table td {
            vertical-align: middle;
            padding: 5px 2px;
            font-size: 13px;
            font-weight: bold;
            border-bottom: solid 1px #f5f5f5;
        }

            .check_box table td [type="checkbox"] {
                margin: 2px 5px 0 2px;
                border: none;
            }

        .check_box table tr:hover {
            color: #363636;
            cursor: pointer;
        }

.altcheck {
    background: #E1F3FF;
    color: #4B5BFF;
}

.heading_seat {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 5px 0 5px 15px;
    background: #f19321;
    color: #fff;
}

.heading_seat2 {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 5px 0 5px 15px;
    background: #11a3d6;
    color: #fff;
}

.heading_seat3 {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 8px 0 8px 15px;
    background: #D30000;
    color: #fff;
    border-radius: 5px;
}

.heading_seat4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 8px 0 8px 15px;
    background: #D30000;
    color: #fff;
    border-radius: 5px;
}

.check_box1 {
    min-height: 140px;
    padding: 0;
    background: #f5f5f5;
}

    .check_box1 table {
        width: 100%;
        background: #fff;
        margin: 0;
        padding: 0;
        border-spacing: 0;
        border-collapse: collapse;
        background: #FFEEAA;
        color: #363636;
    }

        .check_box1 table td {
            vertical-align: middle;
            padding: 5px 2px;
            font-size: 13px;
            font-weight: bold;
            border-bottom: solid 1px #f5f5f5;
        }

            .check_box1 table td [type="checkbox"] {
                margin: 2px 5px 0 2px;
                border: none;
            }

        .check_box1 table tr:hover {
            color: #363636;
            cursor: pointer;
        }



        .check_box1 table th {
            font-size: 15px;
            font-weight: normal;
            text-align: left;
            margin: 0;
            padding: 3px 3px;
            background: #f19321;
            color: #fff;
            padding: 2px 3px !important;
            height: 25px;
        }


.check_box2 {
    min-height: 80px;
    padding: 0;
    background: #f5f5f5;
}

    .check_box2 table {
        width: 100%;
        background: #fff;
        margin: 0;
        padding: 0;
        border-spacing: 0;
        border-collapse: collapse;
        background: #CDE6FF;
        color: #363636;
    }

        .check_box2 table td {
            vertical-align: middle;
            padding: 5px 2px;
            font-size: 13px;
            font-weight: bold;
            border-bottom: solid 1px #f5f5f5;
        }

            .check_box2 table td [type="checkbox"] {
                margin: 2px 5px 0 2px;
                border: none;
            }

        .check_box2 table tr:hover {
            color: #363636;
            cursor: pointer;
        }


.check_box3 {
    min-height: 80px;
    padding: 0;
    background: #f5f5f5;
}

    .check_box3 table {
        width: 100%;
        background: #fff;
        margin: 0;
        padding: 0;
        border-spacing: 0;
        border-collapse: collapse;
        background: #B2FFD9;
        color: #363636;
    }

        .check_box3 table td {
            vertical-align: middle;
            padding: 5px 2px;
            font-size: 13px;
            font-weight: bold;
            border-bottom: solid 1px #f5f5f5;
        }

            .check_box3 table td [type="checkbox"] {
                margin: 2px 5px 0 2px;
                border: none;
            }

        .check_box3 table tr:hover {
            color: #363636;
            cursor: pointer;
        }


.intitute_type {
}

.row1 {
    background: #d9edb7;
    color: #363636;
}

.row2 {
    background: #fff4ac;
    color: #363636;
}

.row3 {
    background: #ffe1bc;
    color: #363636;
}

.row4 {
    background: #d7eaff;
    color: #363636;
}


.srow1 {
    background: #d5edf1;
    color: #363636;
}

.srow2 {
    background: #f1edff;
    color: #363636;
}

.srow3 {
    background: #d2fde3;
    color: #363636;
}

.srow4 {
    background: #d6fbff;
    color: #363636;
}

.srow5 {
    background: #ffe5fd;
    color: #363636;
}


.crow1 {
    background: #e5eded;
    color: #363636;
}

.crow2 {
    background: #fff2e2;
    color: #363636;
}

.check_box table td input[type=checkbox]:not(old),
.check_box table td input[type=radio ]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

    .check_box table td input[type=checkbox]:not(old) + label,
    .check_box table td input[type=radio ]:not(old) + label {
        display: inline-block;
        margin-left: -28px;
        padding-left: 28px;
        background: url('../../Images/checks.png') no-repeat 0 0;
        line-height: 24px;
    }

    .check_box table td input[type=checkbox]:not(old):checked + label {
        background-position: 0 -24px;
    }

    .check_box table td input[type=radio]:not(old):checked + label {
        background-position: 0 -48px;
    }


.radio_css {
    background: #f2f2f2;
    width: 400px;
    margin: 15px auto;
}

    .radio_css table {
        width: 100%;
    }

        .radio_css table tbody tr td label {
            margin: 0 10px 0 10px;
            font-size: 15px;
            font-weight: bold;
        }

        .radio_css table tbody tr td {
            width: 50%;
        }



.modalBackgroundGray {
    background-color: Gray;
    opacity: 0.6;
}

.modalBackground {
    opacity: 0.6;
}

.updateProgressMessage {
    font-family: Trebuchet MS;
    font-size: small;
    margin: 3px;
    vertical-align: middle;
}

.frame {
    position: absolute;
    /*   font-family:verdana,helvetica,clean,sans-serif; */
    font-size: small;
    padding: 3px 3px;
    width: 350px;
}

.overlay {
    border: solid 3px #bde1fb;
    border-radius: 4px;
}

.overlay2 {
    background: url(../../Images/pop-up_border.png);
    padding: 10px;
    border-radius: 5px;
}


.underlay {
    position: absolute;
    background-color: #000;
    bottom: -1px;
    filter: alpha(opacity=12);
    left: -1px;
    right: -1px;
    top: 3px;
    z-index: -1;
}

.header {
    cursor: move; /* Because the DragPanelExtender doesn't do this for me ;( */
    background: #f2f2f2; /*url(../Images/sprite.png) repeat-x 0px -200px;	*/
    color: #0066cc;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
    padding: 6px 4px;
    font-size: 12px !important;
}

    .header .msg {
        font-weight: bold;
    }

.updating, .body {
    background-color: #FFF;
    padding: 10px 2px;
    font-size: 12px;
    color: #363636;
    text-align: center;
}

.body2 {
    padding: 3px 8px;
}

.updating {
    color: #808080;
    background: #fff url(../../Images/activity.gif) no-repeat center;
}


.close {
    right: 5px;
    background: url(../../Images/sprite_close.png) no-repeat 0px 0px;
    width: 63px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    height: 23px;
}

.close2 {
    right: 10px;
    background: url(../../Images/sprite_close.png) no-repeat 0px 0px;
    width: 63px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    height: 23px;
}


.bg_login {
    background: #fff1e7;
    /* background-image: url("../../Images/img_bg.jpg");*/
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
    min-height: 400px;
    padding: 20px 0;
    width: 100%;
}


.right_col_login {
    width: 48.5%;
    min-height: 270px;
    float: right;
    border-radius: 0px 0px 10px 10px;
    padding: 0 0 0 0;
    /* border: double 5px #0d77b9; */
    position: relative;
}


.left_col_login {
    width: 48.5%;
    min-height: 270px;
    float: left;
    /* border: double 5px #0d77b9; */
    border-radius: 0px 0px 10px 10px;
}

.login_box_tab {
    width: 100%;
    height: 24px;
    background: #fd7310;
    /* background: #fd7310 url(../../Images/arrow_link.png) no-repeat scroll 95% 50%; */
    margin: 0 0 15px 0;
}

    .login_box_tab h2 {
        margin: 0;
        padding: 4px 0 5px 20px;
        font-size: 15px;
        text-align: left;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
    }

.login_box_tab12 {
    background: #febc0a;
    /*background: #febc0a url("../../Images/arrow_link.png") no-repeat scroll 95% 50%;*/
    margin: 0 0 15px;
    border-radius: 7px 7px 0px 0px;
    width: 100%;
}


    .login_box_tab12 h2 {
        color: black;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        padding: 7px;
        text-align: left;
        text-transform: uppercase;
    }


#container_login_design {
    padding: 0 17px 17px;
}

#container_login_design {
    width: 1100px;
    margin: 0 auto;
    padding: 17px 17px 17px 17px;
    border: solid 1px #ffda8c;
    background: rgba(255,255,255,.9);
    border-radius: 3px;
}


#slider span {
    z-index: 99999;
    position: absolute;
    font-size: 25px;
    color: #fff;
}

#sliderFrame {
    position: relative;
    width: 100%;
    margin: 10px 0 auto;
}

#slider, #slider div.sliderInner {
    width: 450px;
    height: 112px;
}

#slider {
    background: #fff;
    margin: 0 auto;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

    #slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
        position: absolute;
        width: 100%;
        height: auto;
        padding: 5px 0;
        left: 0px;
        bottom: 0px;
        z-index: 3;
        overflow: hidden;
        font-size: 0;
    }

    #slider div.mc-caption-bg {
        background: Black;
    }

    #slider div.mc-caption-bg2 {
        background: none;
    }

    #slider div.mc-caption {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial;
        color: #EEE;
        z-index: 4;
        text-align: center;
        background: none;
    }

        #slider div.mc-caption a {
            color: #FB0;
        }

            #slider div.mc-caption a:hover {
                color: #DA0;
            }

    #slider div.navBulletsWrapper {
        top: 125px;
        text-align: right;
        background: none;
        position: relative;
        z-index: 5;
    }
        /* each bullet */
        #slider div.navBulletsWrapper div {
            width: 11px;
            height: 11px;
            font-size: 0;
            color: White;
            background: transparent url(../../images/bullets.png) no-repeat 0 0;
            display: inline-block;
            *display: inline;
            zoom: 1;
            overflow: hidden;
            cursor: pointer;
            margin: 0 6px; /* set distance between each bullet*/
        }

            #slider div.navBulletsWrapper div.active {
                background-position: 0 -11px;
            }

    #slider img, #slider > b, #slider a > b {
        position: absolute;
        border: none;
        display: none;
    }

    #slider div.sliderInner {
        overflow: hidden;
        -webkit-transform: rotate(0.000001deg);
        position: absolute;
        top: 0;
        left: 0;
    }

    #slider > a, #slider video, #slider audio {
        display: none;
    }


.slider_box p {
    margin: 0;
    padding: 8px 10px 12px 10px;
    text-align: center;
}

.instruction_pannel ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

    .instruction_pannel ul li {
        line-height: 18px;
        padding: 0 0 0 0px;
        font-size: 12px;
        /* background: url(../../Images/arrow.png) 1% 50% no-repeat; */
    }

.remark {
    border-top: 1px solid #dbdbdb;
    font-size: 11px;
    margin: 5px auto 0;
    padding: 5px;
    text-align: left;
    width: 95%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! end LOGIN PAGE CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.footersec {
    background: #353535;
    margin: 0px auto;
    width: 100%;
    display: inline-table;
}

.footerlogoright {
    width: 570px;
}

.footersec p {
    color: #fff;
    padding: 20px 2px 30px 2px;
    font-size: 14px;
}

.sectionloginbody {
    width: 100%;
    margin: 0 auto;
}

.sectionresultbody {
    width: 100%;
    background: #fff !important;
    display: flex;
    position: relative;
    padding: 20px 0px;
}

.containerown {
    width: 1170px;
    margin: 0 auto;
}

.containerinside {
    width: 99%;
    margin: 0 auto;
}

.loginmid {
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 2px 6px 3px #777777;
    display: flex;
}

.login_left_new {
    width: 652px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.inst_right_new {
    width: 458px;
    float: left;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    background: url(../../Images/logininstructionbg.png);
    background-size: cover;
    background-position: top center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

    .inst_right_new ul {
        list-style-image: url(../../Images/arrowrightwhite.png);
        font-size: 15px;
        color: #000;
    }

        .inst_right_new ul li {
            font-size: 14px;
            color: #d6d4d4;
            margin-bottom: 10px;
            margin-left: 25px;
            line-height: 18px;
        }

.loginmid h4 {
    font-weight: bold;
    font-family: 'Open Sans' !important;
    font-size: 20px;
    padding: 4px 4px 4px 4px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #003363;
}

.loginborder {
    border: 1px solid #e6e6e6;
    padding: 10px 30px 0px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    /* box-shadow: 0px 2px 6px 3px #777777; */
}

    .loginborder label {
        font-weight: 600;
        color: #003363;
        font-size: 14px;
        font-family: 'Open Sans' !important;
        text-align: left;
        display: block;
        margin-right: 40px;
    }

.form-control {
    display: block;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn {
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #e20000 !important;
    border-color: #e20000 !important;
}

.btn-themeblue {
    background: #520000 !important;
    color: #fff !important;
    font-size: 18px !important;
    font-family: 'Open Sans' !important;
}

.table_data td {
    padding: 8px 2px;
}

.table_data th {
    padding: 5px 2px !important;
}

.cautiontext {
    color: #fff;
    bottom: 0px;
    position: relative;
    margin-bottom: 20px;
    border-top: 1px solid #fff;
    padding-top: 15px;
    font-size: 14px;
}

.card-header {
    padding: 15px 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: #007bff !important;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-radius: 4px 4px 0px 0px;
    font-size: 19px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-top: 0px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

ul.side-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul.side-menu li {
        font-size: 14px;
        font-weight: 600;
    }

        ul.side-menu li a {
            color: #242424;
            text-decoration: none;
            background: url(../../../Images/arrow-blt.png) 5px 13px no-repeat;
            padding-left: 18px;
            padding: 8px 20px;
            display: block;
            border-bottom: 1px solid #e6e6e6;
            border-top: 0px solid #e6e6e6;
            border-right: 0px solid #e6e6e6;
            border-left: 0px solid #e6e6e6;
        }

            ul.side-menu li a:hover, ul.side-menu li a.active {
                color: #fff;
                background: url(../../../Images/arrow-blt-wht.png) 5px 13px no-repeat;
                background-color: #520000;
                border-radius: 4px;
            }

.leftlinkresultmenu {
    /*width: 325px;*/
    width: 24%;
    float: left;
    /*position: absolute;*/
}

.rightcontentresult {
    /*width: 795px;*/
    /*width: 71%;*/
    /*float: left;*/
    width: auto;
    /*margin-left: 345px;*/
    margin-left: 25%;
    margin-right: 20px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    position: relative;
    top: 0;
    padding: 2rem 1rem 0rem 1rem;
}

.contentmiddiv {
    padding: 20px;
    box-shadow: 0px 0px 6px 2px #e4e4e4;
    border: 1px solid #e8e8e8;
    position: relative;
    display: block;
    border-radius: 4px;
    background: #ffffff;
    margin: 10px 0px 20px 0px;
}

.bg-dark {
    background: #343a40;
    color: #fff;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2px;
}

.appstatustable.table th {
    text-align: center;
}

.table.appstatustable td, .appstatustable.table th {
    padding: 12px;
    font-size: 14px;
}

.appstatustable.table th {
    font-weight: 700;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table tr th {
    font-weight: bold;
    text-align: left;
}

a.btn-white {
    background: #fff !important;
    color: #000 !important;
    margin: 5px 6px 6px 6px !important;
    border-radius: 4px;
    padding: 6px 10px !important;
}

.contentuserinfo {
    background: #ffffff;
    padding-bottom: 30px;
    width: 100%;
    display: block;
    position: relative;
}

ul.user-info {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}

    ul.user-info li {
        float: left;
        width: auto;
        margin-right: 30px;
        font-size: 14px;
        color: #000;
    }

.headingmain {
    padding: 15px 15px;
    margin: -2rem -1rem;
    margin-bottom: 10px;
    color: #007bff !important;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 4px 4px 0px 0px;
    font-size: 19px;
    text-align: center;
}

.contentmiddiv h4 {
    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 18px;
    padding: 4px 0px 7px 0px;
    border-bottom: 1px solid lightgrey;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #fff;
    color: #0669c7;
}

.bg-info {
    background: #d9edf7;
}

.text-primary {
    color: #337ab7;
}

small {
    font-size: 80%;
}

.btn-block {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.border_table_pr_ltr {
    border-top: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
}

    .border_table_pr_ltr td {
        font-size: 11px !important;
        border-left: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        padding: 4px 2px;
        height: 23px;
    }

    .border_table_pr_ltr th {
        font-size: 12px !important;
        background: #BCBCBC;
        /*border-left: solid 1px #e8e8e8;*/
        color: #000;
        border-bottom: solid 1px #e8e8e8;
        padding: 2px;
        text-align: left;
        height: 20px;
        vertical-align: middle;
    }

    .border_table_pr_ltr table tr:hover {
        background-color: #fffacd;
    }

.heading_th th {
    background: #E6E6E6 !important;
    border-left: solid 1px #ccc;
    color: #000;
    font-size: 11px !important;
    vertical-align: middle;
}
.leftaddress h5 {
    font-weight: 600;
    font-family: verdana;
    font-size: 12px;
    padding: 4px 0px 5px 6px;
    /*border-bottom: 2px solid lightgrey;*/
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
    /*background: ghostwhite;*/
    color: #0700e8;
}
.leftaddress label {
    font-size: 12px;
    color: #373a3c;
    padding: 5px 2px;
    display: block;
}